<head> <script src="gen_validatorv4.js" type="text/javascript"></script> </head>

<%= form_for(@author) do |f| %>
  <h1>Register: </h1>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
    <%= f.label :first_name, "First Name:" %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name, "Last Name:" %>
    <%= f.text_field :last_name %>
    <%= f.label :username, "Desired Username:" %>
    <%= f.text_field :username %>
    <%= f.submit "Sign Up" %>
<% end %>
